form {
  padding: 10px;
  text-align: center;
}

.form-group {
  width: 40%;
}

.form-group {
  padding: 5px 10px 5px 15px;
  border-radius: 5px;
}

.search-button {
  margin: 5px;
  padding: 5px 15px;
  background-color: rgba(10, 97, 140, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}
.search-button:hover {
  background-color: white;
  color: rgba(10, 97, 140, 0.6);
  border: 1px solid rgba(10, 97, 140, 0.6);
}
