.WeatherInfo ul li{
padding: 0;
margin:0;
list-style: none;
}

.WeatherInfo .temperature {
font-size: 30px;
font-weight: bold;
}

.WeatherInfo .unit {
    position: relative;
    top: -10px;
    left: -5px;
}
